body{
  margin: 0;
}

.navigationBar{
  height: 225px;
  background-color: black;
}

/*this is the ul*/
.navList{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  display: inline-block;
}

li{
  float: left;
}

/*this is li a*/
.navFont{
  font-family: 'Graduate';
  font-size: 18px;
  display: block;
  color: #d9d9d9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
    color: #972563;
}
