.genFont{
  font-family: serif;
}

.paraFont{
  font-size: 18px;
  padding: 0 15px 15px 15px;
  text-align: justify;
}

.construction{
  text-align: center;
  font-family: serif;
}
/*setting the navbar */
body{
  margin: 0;
}

.navigationBar{
  height: 125px;
  background-color: black;
  width: 100%;
}

/*this is the ul*/
.navList{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  display: inline-block;
}

li{
  float: left;
}

/*this is li a*/
.navFont{
  font-family: 'Graduate';
  font-size: 22px;
  display: block;
  color: #d9d9d9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
    color: #972563;
}

/*setting the background of the homepage below the navbar*/
#homeBackground {
  background-image: url("images/genBackground1024.jpg");
  height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
}

/*reserve a bike button styles*/
.reserveButton{
  margin-top: 325px;
  color: #972563;
  background-color: black;
  opacity: .8;
  border-color: black;
  height: 60px;
  font-size: 32px;
  border-radius: 10px;
  font-family: 'Graduate';
}

.reserveButton:hover{
  color: #0556a5;
}

/*setting the background of the about page below the navbar*/
#aboutBackground {
  background-image: url("images/partyBike1024.jpg");
  height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  padding-top: 150px;
}

.aboutTextBox{
  background-color: #ebeced;
  border-radius: 10px;
  width: 40%;
  opacity: .7;
  margin: 0 auto;
}
